<p><a href="#top">Back to top</a>.{% if document.home === false %} <a href="/">Go home</a>.{% endif %}</p>
<div>
  <h2>End User License Agreement</h2>
  <p><strong>Copyright © Karen McGrane.</strong> {{ site.elua }}</p>
</div>
