<nav>
  <ul>
    {% for item in collections.all %}
    {% if (item.data.document.type == 'page') %}
    {% if (item.data.document.home !== true) %}
    <li>
      <a data-id="{{ item.data.document.id }}" href="{{ item.url }}">{{ item.data.title | safe }}</a>
    </li>
    {% endif %}{% endif %}
  {% endfor %}
  </ul>
  <p>{{ site.tagline }}</p>
</nav>
