{% if slide.fields.image %}
<img src="{{ slide.fields.image.fields.file.url }}" alt="{{ slide.fields.image.fields.file.title }}" />
{% endif %}
{% if slide.fields.transcript %}
<div>{{ slide.fields.transcript | toHtml | safe }}</div>
{% endif %}
<hr />
