<li class="teaser">
  {%- block content %}
  {%- if item.thumbnail %}
  <img src="{{ item.thumbnail }}" />
  {% endif -%}

  <div class="teaser-inner">
    <time datetime="{{ item.date }}">{{ item.date }}</time>

    <h3 class="hed-teaser">
      <a class="hed-teaser-link" href="{{ item | permalink }}">{{ item.hed }}</a>
    </h3>

    <p>{{ item.dek }}
      <a class="read-more" href="{{ item | permalink }}">Read more</a>
    </p>
  </div>
  {%- endblock %}
</li>
