<div>
  <h3><a href="{{ item.url }}">{{ item.title | safe }}</a></h3>
  <p>{{ item.dek | safe }} <a href="{{ item.url }}">Read More</a></p>
  <p><time datetime="{{ item.date }}">{{ item.date }}</time></p>
</div>
