<li class="teaser">
  <div class="teaser-inner">
		<h3 class="hed-teaser"><a class="hed-teaser-link" href="{{ item.url }}">{{ item.title }}</a></h3>
		{% if item.blurb %}<p>{{ item.blurb }}</p>{% endif %}
		<p class="teaser-meta">
      {% if item.author %}By {{ item.author }}{% endif %}
      {%- if item.publication %}{% if item.author %},{% endif %} {{ item.publication }}{% endif %}
      {%- if item.date %}{% if item.publication or item.author %}, {% endif %}<time datetime="{{ item.date }}">{{ item.date | friendlyDate }}</time>{% endif %}
    </p>
	</div>
</li>
