<div>
  <h3><a href="{{ item.url }}">{{ item.title | safe }}</a></h3>
  <a href="{{ item.url }}">[ first slide ]</a>
  <p>{{ item.dek | safe }} <a href="{{ item.url }}">Read More</a></p>
  {% if item.originalSource -%}
  <p>
    <a href="{{ item.originalSource.url}}">{{ item.originalSource.name }}</a>,
    <time datetime="{{ item.originalSource.date }}">{{ item.originalSource.date }}</time>
  </p>
  {%- endif %}
</div>
