<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "partials/html-header.njk" %}
  </head>

  <body id="www-karenmcgrane-com" class="presentation-template-default single">
    {% include "partials/site-header.njk" %}

		<main class="site-content">
    {% block content %}{{ content | safe }}{% endblock %}
    </main>

    {% include "partials/footer.njk" %}
  </body>

</html>
