{% extends "layouts/base.njk" %}

{% block content %}
<div class="region content-main">
	<h1 class="hed-lead">{{ document.title }}</h1>
		<div class="group">
      {% if document.dek %}<p>{{ document.dek | safe }}</p>{% endif %}
			{{ content | safe }}
		</div>
	</div>
</div>
{% endblock %}
