{% extends "layouts/base.njk" %}
{% block content %}
<div class="region content-main">
  {% if fullWidth !== true %}<div class="l-sole">{% endif %}
    <article class="group" datetime="{{ document.date }}">
      <footer>
        <div class="article-meta">
          {% if document.originalSource %}
          {% set source = document.originalSource | flatten %}
          <p>{{ metaPhrase }} <a href="{{ source.url }}">{{ source.publication }}</a>{% if source.date %}<time>{{ source.date | friendlyDate }}</time>{% endif %}</p>
          {% else %}
          <p>Published on <time>{{ document.date | friendlyDate }}</time></p>
          {% endif %}
        </div>
      </footer>

      <header>
        <h2 class="hed-article-title">{{ document.title | safe }}</h2>
        {% if document.dek %}<p class="article-lead">{{ document.dek | safe }}</p>{% endif %}
      </header>

      <section class="article-content">
        {% if document.primary %}
        {% if fullWidth !== true %}
        <p class="lead-image full">{% buildImage document.primary %}</p>
        {% endif %}
        {% endif %}
        {% block body %}{{ content | safe }}{% endblock %}
      </section>

      {% if document.citations.length > 0 %}
      <section class="article-citations">
        <h2 class="hed-section-sub">Citations</h2>

        <ul class="teaser-list">
          {% for source in document.citations %}
            {% set item = source | flatten %}
            {% include 'teasers/source.njk' %}
          {% endfor %}
        </ul>
      </section>
      {% endif %}

    </article>
  {% if fullWidth !== true %}</div>{% endif %}
</div>
{% endblock %}
