---
layout: base
contentId: 4ROMYHKHl1pAy4Pyj8x2Cd
---
<ol class="region list-featured">
  <li class="featured-item is-priority">
    {% if document.primary %}
    {% buildImage document.primary %}
    <div class="featured-content">{{ document.body | toHtml | safe }}</div>
    {% else %}
    {{ document.body | toHtml | safe }}
    {% endif %}
  </li>
</ol>

<ol class="region list-featured">
  {% for featured in document.curated %}
  {% set item = featured | flatten %}
  {% include 'featured/'~item.type~'.njk' ignore missing %}
  {% endfor %}
</ol>
