---
layout: base
contentId: 4ROMYHKHl1pAy4Pyj8x2Cd
---
<ol class="region list-featured">
  <li class="featured-item is-priority">{{ document.body | toHtml | safe }}</li>
</ol>

<ol class="region list-featured">
  {% for featured in document.curated %}
  {% set item = featured | flatten %}
  {% include 'featured/'~item.type~'.njk' ignore missing %}
  {% endfor %}
</ol>
