---
layout: base
contentId: 4ROMYHKHl1pAy4Pyj8x2Cd
---
<ol class="region list-featured">
  {% if document.primary -%}
  <li class="featured-item is-priority priority-alt">
    {% buildImage document.primary %}
    <div class="featured-content">{{ document.body | toHtml | safe }}</div>
  </li>
  {%- else -%}
  <li class="featured-item is-priority">
  {{ document.body | toHtml | safe }}
  </li>
  {%- endif %}
</ol>

<ol class="region list-featured">
  {% for featured in document.curated %}
  {% set item = featured | flatten %}
  {% include 'featured/'~item.type~'.njk' ignore missing %}
  {% endfor %}
</ol>
