---
layout: base
pagination:
    data: entries.page
    size: 1
    alias: document
    addAllPagesToCollections : true
permalink: /{{ document.slug }}/
eleventyComputed:
  title: "{{ document.title }}"
---

<div class="region content-main">
	{% if document.home === false %}<h1 class="hed-lead">{{ document.title }}</h1>{% endif %}
  <div class="group">
    <p>{{ document.dek | safe }}</p>
    {{ document.body | toHtml | safe }}
  </div>
</div>

<ul>
  {% for item in collections.all %}
  {% if item.data.document.type === "post" %}
  <li><a data-id="{{ item.data.document.id }}" href="{{ item.url }}">{{ item.data.title | safe }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
