---
layout: page
pagination:
    data: entries.simplePages
    size: 1
    alias: document
    addAllPagesToCollections : true
permalink: "{{ document | permalink }}"
eleventyComputed:
  title: "{{ document.title }}"
  isHome: document.home
---
<p>{{ document.dek | safe }}</p>

{{ document.body | toHtml | safe }}
