---
layout: base
pagination:
    data: entries.posts
    size: 1
    alias: document
    addAllPagesToCollections : true
permalink: /{{ document.slug }}/
eleventyComputed:
  title: "{{ document.title }}"
  tags: {{ document.tags }}
---
<div class="region content-main">
  <div class="l-sole">
    <article class="group" datetime="{{ document.date }}">

      <footer>
        <div class="article-meta">
          {% if document.originalSource %}
            {% set source = document.originalSource %}
            <p>Originally created for <a href="{{ source.fields.url }}">{{ source.fields.publication }}</a>{% if source.fields.date %}<time>{{ source.fields.date }}</time>{% endif %}</p>
          {% endif %}
        </div>
      </footer>

      <header>
        <h2 class="hed-article-title">{{ title | safe }}</h2>
        <p class="article-lead">{{ document.dek | safe }}</p>
      </header>

      <section class="article-content">
        <p class="lead-image full">
        {% set img = document.primaryImage %}
        </p>
        {{ document.body | toHtml | safe }}
      </section>

      {% if document.citations %}
        <section class="article-citations">
          <h2 class="hed-section-sub">Citations</h2>

          <ul class="teaser-list">
            {% for source in document.citations %}
              {% include 'teasers/source.njk' %}
            {% endfor %}
          </ul>
        </section>
      {% endif %}

    </article>
  </div>
</div>

