---
layout: base
pagination:
    data: entries.post
    size: 1
    alias: document
    addAllPagesToCollections : true
permalink: /{{ document.slug }}/
eleventyComputed:
  title: "{{ document.title }}"
---

{{ document.dek }}

{{ document.body | toHtml | safe }}
