---
layout: base
pagination:
    data: entries.presentation
    size: 1
    alias: document
    addAllPagesToCollections : true
permalink: /talks/{{ document.slug }}/
eleventyComputed:
  title: "{{ document.title }}"
  tags: {{ document.tags }}
---

{{ document | json | safe }}
