---
layout: base
pagination:
    data: entries.presentation
    size: 1
    alias: document
    addAllPagesToCollections : true
permalink: /talks/{{ document.slug }}/
eleventyComputed:
  title: "{{ document.title }}"
  tags: {{ document.tags }}
---
<p>{{ document.dek | safe }}</p>

{% if document.video %}
<h3>Video</h3>
<iframe src="{{ document.video }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
{% endif %}

{% if document.slideshare %}
<h3>Slides</h3>
<iframe src="{{ document.slideshare }}" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
{% endif %}

{% if document.slides %}
<h3>Transcript</h3>
{% for slide in document.slides %}
  {% include "components/slide.njk" %}
{% endfor %}
{% endif %}


{{ document | json | safe }}
