<footer id="footer" class="region site-footer">
  <p>
    <a href="#www-karenmcgrane-com">Back to top</a>.
    {% if document.home !== true %}
      <a href="/">Go home</a>.
    {% endif %}
  </p>

  <div class="legalese">
    <h2 class="hed-legalese">End user license agreement</h2>
    <p>{% if site.copyright %}<strong>{{ site.copyright }}</strong> {% endif %}{{ site.elua }}</p>
  </div>
</footer>

<!-- States referenced by `aria-describedby` -->
<div id="wayfinding" class="squelch">
  <span id="current-page">Current page</span>
</div>
