<div
  class="frm_forms with_frm_style frm_style_formidable-style"
  id="frm_form_3_container"
>
  <form
    name="contact"
    class="frm-show-form contact-form"
    id="form_contact-form2"
    netlify
  >
    <div class="frm_form_fields">
      <fieldset>
        <legend class="frm_hidden">Contact Karen</legend>
        <div class="frm_fields_container">
          <div
            id="frm_field_11_container"
            class="frm_form_field form-field frm_required_field frm_top_container frm_full"
          >
            <label for="field_qh4icy22" class="frm_primary_label"
              >Name
              <span class="frm_required frm_hidden">*</span>
            </label>
            <input
              type="text"
              id="field_qh4icy22"
              name="name"
              value=""
              data-reqmsg="This field cannot be blank."
              aria-required="true"
              data-invmsg="Name is invalid"
              aria-invalid="false"
            />
          </div>
          <div
            id="frm_field_12_container"
            class="frm_form_field form-field frm_required_field frm_top_container frm_full"
          >
            <label for="field_29yf4d22" class="frm_primary_label"
              >Email
              <span class="frm_required frm_hidden">*</span>
            </label>
            <input
              type="email"
              id="field_29yf4d22"
              name="email"
              value=""
              data-reqmsg="This field cannot be blank."
              aria-required="true"
              data-invmsg="Please enter a valid email address"
              aria-invalid="false"
            />
          </div>
          <div
            id="frm_field_13_container"
            class="frm_form_field form-field frm_required_field frm_top_container frm_full"
          >
            <label for="field_e6lis622" class="frm_primary_label"
              >Subject
              <span class="frm_required frm_hidden">*</span>
            </label>
            <input
              type="text"
              id="field_e6lis622"
              name="subject"
              value=""
              data-reqmsg="This field cannot be blank."
              aria-required="true"
              data-invmsg="Subject is invalid"
              aria-invalid="false"
            />
          </div>
          <div
            id="frm_field_14_container"
            class="frm_form_field form-field frm_required_field frm_top_container frm_full"
          >
            <label for="field_9jv0r122" class="frm_primary_label"
              >Message
              <span class="frm_required frm_hidden">*</span>
            </label>
            <textarea
              name="message"
              id="field_9jv0r122"
              rows="5"
              data-reqmsg="This field cannot be blank."
              aria-required="true"
              data-invmsg="Message is invalid"
              aria-invalid="false"
            ></textarea>
          </div>
          <input type="hidden" name="item_key" value="" />
          <div class="frm_submit cap">
            <button class="btn frm_button_submit" type="submit">
              Send Message
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
