<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ document.dek }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="screen" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="/assets/js/initial.js" async></script>
<script>document.createElement( "picture" );</script>
<script src="/assets/js/lib/picturefill.js" async></script>
<script>
  var MTIProjectId='a555b89b-28b3-4798-9e31-f3222456653c';
  (function() {
      var mtiTracking = document.createElement('script');
      mtiTracking.type='text/javascript';
      mtiTracking.async='true';
      mtiTracking.src='mtiFontTrackingCode.js';

      ( document.getElementsByTagName( 'head' )[ 0 ] || document.getElementsByTagName( 'body' )[ 0 ] ).appendChild( mtiTracking );
  })();
</script>
