<ul>
  {% for item in entries.presentations %}
  <li><a data-id="{{ item.id }}" href="{{ item | permalink }}">{{ item.title | safe }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<ul>
  {% for item in entries.posts %}
  {% if item.data.document.type === "post" %}
  <li><a data-id="{{ item.id }}" href="{{ item | permalink }}">{{ item.title | safe }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
