<header class="region site-nav">
  <div class="site-mast">
    <nav>
      <ul class="nav-list">
        {% for item in entries.navigation %}
          <li class="nav-item">
            <a href="{{ item | permalink }}">
              {% navIcon item.title %}
              {{ item.title | safe }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <h1 class="logo"><a href="/">{{ site.tagline }}</a></h1>
  </div>
</header>
