<section class="group">
  <header class="header-more">
    <h2 class="hed-section-sub">{{ tag.name }}</h2>
    <a class="link-more" href="/category/{{ tag.id }}/">Browse {{ (taggedItems | length) - teaserLimit }} more</a>
  </header>
  <ol class="teaser-list">
    {% for item in taggedItems | limit(teaserLimit) %}{% include 'teasers/'~item.type~'.njk' %}{% endfor %}
  </ol>
</section>
